html {
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  background-image: url('./Header-images/desktop\ llustration-desktop@2x.svg');
  background-size: 1100px 900px;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  height: 48px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: white;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #28352f;
  margin-left: 24px;
  margin-bottom: 60px;
}

.hamburger {
  width: 18px;
  margin-right: 20px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  display: block;
  position: relative;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #28352f;
  margin-bottom: 3px;
  transition: 0.4s;
  border-radius: 2px;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(0, 5px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-2px, -7px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: absolute;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background: #fff;
  padding-top: 80px;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  margin-left: 28px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
}

.nav-menu {
  gap: 3rem;
  display: none;
}

.nav-menu li a {
  color: #172b4d;
}

ul {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-item {
  grid-column: 1/13;
  grid-row: 1;
  text-align: center;
}

.headline {
  width: 100%;
  height: 1000px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  margin-top: 64px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #36b37f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.par-1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #172b4d;
  margin-right: 24px;
  margin-left: 24px;
  order: 1;
  flex: none;
  flex-grow: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 50px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.twitter {
  margin-right: 20px;
}

.linkedin {
  margin-right: 20px;
}

.medium {
  margin-right: 20px;
}

.github {
  margin-right: 20px;
}

.scroll-button {
  margin-top: 25px;
}

.recent-works {
  grid-column: 3/11;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 4px solid #36b37e;
}

h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.project-section-1 {
  grid-column: 4;
  border: 1px solid #d0d9d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 474px;
  border-radius: 8px;
  margin-top: 64px;
  margin-left: 10px;
}

.project-1 {
  grid-column: 4;
  margin-left: 25px;
}

.project-2 {
  grid-column: 4;
  margin-left: 25px;
}

.project-3 {
  grid-column: 4;
  margin-left: 25px;
}

.project-4 {
  grid-column: 4;
  margin-left: 25px;
}

.project-5 {
  grid-column: 4;
  margin-left: 25px;
}

.project-6 {
  grid-column: 4;
  margin-left: 25px;
}

.pic-1 {
  width: 327px;
  height: 100vh;
  background: #ebf0ee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-title-1 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.tools .ruby {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  margin-right: 7px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tools .css {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  margin-right: 7px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tools .javascript {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  margin-right: 7px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.tools .html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border: 0;
  margin-left: 110px;
  margin-right: 105px;
  margin-top: 35px;
  margin-bottom: 30px;
  color: white;
  transition: all 0.3s;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  background: #008552;
  text-transform: uppercase;
}

.about-me {
  background-image: url('./Header-images/desktop\ left\ illustration-about-me-2-.svg'), url('./Header-images/desktop\ \ illustration\ about\ me.svg');
  background-repeat: no-repeat, no-repeat;
  background-size: 120px, 700px;
  background-position: left 400px, top right;
}

.about-text-container {
  padding: 70px 50px 0 50px;
  grid-column: 1/13;
}

.about-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.par-2-container {
  grid-column: 1/13;
  height: 189px;
  padding-left: 25px;
  padding-right: 25px;
}

.par-2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #42526e;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.resume {
  margin-left: 123px;
  grid-column: 1/13;
}

.sections {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 352px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.section-1 {
  background-image: url('./Header-images/Ellipse\ 15.svg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 108px 41px;
}

.section-2 {
  background-image: url('./Header-images/Ellipse\ 15.svg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 109px 41px;
}

.section-3 {
  background-image: url('./Header-images/Ellipse\ 15.svg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: 109px 41px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  margin-right: 35px;
  margin-top: 60px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sections h4 {
  margin-left: 30px;
}

.lang-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-right: 10px;
}

.lang-icon img {
  height: 44px;
  width: 44px;
  background-color: #fff;
  border: 0;
}

.frameworks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #36b37e;
  padding-left: 0;
}

.javascript-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
}

.ruby-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.html-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.css-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.bootstrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.ruby-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.rspec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.capybara {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.selenium {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.codekit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.github-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  margin-right: 0;
}

.codepen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.gitlab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.form {
  background-image: url('./Header-images/form\ bottom\ right\ image.svg');
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: right bottom;
  padding: 0;
}

.form-text {
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  margin-left: 11px;
}

.form-text h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.inputs {
  grid-column: 1/13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 327px;
  height: 40px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background: #fff;
  padding: 0;
  margin-bottom: 30px;
}

.input:hover {
  transition: all 0.3s;
  background: #dfe1e6;
}

.msg {
  width: 327px;
  height: 114px;
  border: 1px solid #60c095;
  border-radius: 4px;
  background: #fff;
  padding: 0;
}

.msg:hover {
  transition: all 0.3s;
  background: #dfe1e6;
}

.last {
  margin-right: 120px;
}

.footer {
  background: white;
}

.last-social {
  margin-right: 5px;
  margin-bottom: 20px;
}

.email-address {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  .recent-works {
    grid-column: 2/12;
  }

  .project-section-1 {
    grid-column: 6;
  }

  .project-1 {
    margin-left: 90px;
  }

  .project-2 {
    margin-left: 90px;
  }

  .project-3 {
    margin-left: 90px;
  }

  .project-4 {
    margin-left: 90px;
  }

  .project-5 {
    margin-left: 90px;
  }

  .project-6 {
    margin-left: 90px;
  }

  .about-text-container {
    grid-column: 6;
  }

  .par-2-container {
    grid-column: 2/12;
    text-align: center;
  }

  .resume {
    grid-column: 6;
  }

  .sections {
    grid-column: 6;
  }

  .section-1 {
    margin-left: 90px;
  }

  .section-2 {
    margin-left: 90px;
  }

  .section-3 {
    margin-left: 90px;
  }

  .form-text {
    grid-column: 3/10;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .inputs {
    grid-column: 6;
  }

  .last {
    margin-right: 320px;
  }

  .footer {
    border-top: 1px solid #dfe1e6;
    height: 72px;
  }

  .email-address {
    display: none;
  }

  .last-social {
    margin-top: 27px;
  }
}

@media screen and (min-width: 960px) {
  .grid-item {
    grid-column: 3/11;
  }

  .project-1 {
    grid-column: 5/6;
    padding-right: 0;
    margin-right: 50px;
    margin-left: 100px;
  }

  .project-3 {
    grid-column: 5/6;
    padding-right: 0;
    margin-right: 50px;
    margin-left: 100px;
  }

  .project-5 {
    grid-column: 5/6;
    padding-right: 0;
    margin-right: 50px;
    margin-left: 100px;
  }

  .about-me {
    background-size: 210px, 1000px;
    background-position: left 400px, top right;
  }

  .about-text-container {
    grid-column: 3/11;
  }

  .par-2-container {
    grid-column: 3/11;
    text-align: center;
  }

  .resume {
    grid-column: 6;
  }

  .section-1 {
    grid-column: 5/6;
    padding-right: 0;
    margin-right: 50px;
    margin-left: 100px;
  }

  .section-3 {
    grid-column: 5;
    margin-right: 0;
    margin-left: 97px;
  }

  .form {
    background-image: url('./Header-images/form\ bottom\ left\ image.svg'), url('./Header-images/form\ bottom\ middle\ image.svg'), url('./Header-images/form\ bottom\ right\ image.svg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100px, 100px, 100px;
    background-position: 0, 150px bottom, right bottom;
  }

  .form-text {
    grid-column: 3/11;
  }

  .inputs {
    grid-column: 7;
  }

  .input {
    width: 500px;
  }

  .msg {
    width: 500px;
  }

  .last {
    margin-right: 493px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-size: 1500px 900px;
  }

  .header {
    border: 0;
  }

  .grid-item {
    grid-column: 3/11;
  }

  .recent-works {
    grid-column: 2/3;
    border: 0;
  }

  .project-section-1 {
    grid-column: 6;
  }

  .project-1 {
    grid-column: 1;
    grid-row: 2;
    margin-left: 120px;
    margin-right: 0;
  }

  .project-2 {
    grid-column: 2;
    grid-row: 2;
    margin-left: 30px;
    margin-right: 0;
  }

  .project-3 {
    grid-column: 3;
    grid-row: 2;
    margin-left: 30px;
  }

  .project-4 {
    grid-column: 1;
    grid-row: 3;
    margin-left: 120px;
    margin-right: 0;
  }

  .project-5 {
    grid-column: 2;
    grid-row: 3;
    margin-left: 30px;
    margin-right: 0;
  }

  .project-6 {
    grid-column: 3;
    grid-row: 3;
    margin-left: 30px;
  }

  .about-me {
    background-image: url('./Header-images/desktop\ left\ illustration-about-me-2-.svg'), url('./Header-images/desktop\ \ illustration\ about\ me.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 230px, 1190px;
    background-position: left 300px, top right;
  }

  .about-text-container {
    grid-row: 1;
    grid-column: 2;
  }

  .par-2-container {
    grid-row: 2;
    grid-column: 1/4;
    text-align: center;
  }

  .resume {
    grid-row: 3;
    grid-column: 2;
  }

  .section-1 {
    grid-column: 1;
    grid-row: 4;
    margin-left: 120px;
    margin-right: 0;
  }

  .section-2 {
    grid-column: 2;
    grid-row: 4;
    margin-left: 30px;
    margin-right: 0;
  }

  .section-3 {
    grid-column: 3;
    grid-row: 4;
    margin-left: 30px;
  }

  .form {
    background-image: url('./Header-images/form\ bottom\ left\ image.svg'), url('./Header-images/form\ bottom\ middle\ image.svg'), url('./Header-images/form\ bottom\ right\ image.svg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 120px, 120px, 110px;
    background-position: 0, 150px bottom, right 140px;
  }

  .form-text {
    grid-column: 2/7;
  }

  .inputs {
    grid-column: 8/12;
  }

  .input {
    width: 500px;
  }

  .msg {
    width: 500px;
  }
}

@media screen and (min-width: 1400px) {
  body {
    background-size: 1500px 1000px;
  }

  .grid-item {
    grid-column: 4/10;
  }

  .recent-works {
    grid-column: 2/3;
    border: 0;
  }

  .project-1 {
    grid-column: 1;
    margin-left: 300px;
    margin-right: 0;
  }

  .project-2 {
    grid-column: 2;
    margin-left: 30px;
    margin-right: 0;
  }

  .project-3 {
    grid-column: 3;
    grid-row: 2;
    margin-left: 30px;
  }

  .project-4 {
    grid-column: 1;
    grid-row: 3;
    margin-left: 300px;
    margin-right: 0;
  }

  .project-5 {
    grid-column: 2;
    grid-row: 3;
    margin-left: 30px;
    margin-right: 0;
  }

  .project-6 {
    grid-column: 3;
    grid-row: 3;
    margin-left: 30px;
  }

  .about-me {
    background-image: url('./Header-images/desktop\ left\ illustration-about-me-2-.svg'), url('./Header-images/desktop\ \ illustration\ about\ me.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 330px, 1700px;
    background-position: left 300px, top right;
  }

  .about-text-container {
    grid-row: 1;
    grid-column: 2;
  }

  .par-2-container {
    grid-row: 2;
    grid-column: 1/4;
    text-align: center;
    margin-right: 100px;
    margin-left: 430px;
  }

  .resume {
    grid-row: 3;
    grid-column: 2;
  }

  .section-1 {
    grid-column: 1;
    grid-row: 4;
    margin-left: 300px;
    margin-right: 0;
    margin-bottom: 180px;
  }

  .form {
    background-image: url('./Header-images/form\ bottom\ left\ image.svg'), url('./Header-images/form\ bottom\ middle\ image.svg'), url('./Header-images/form\ bottom\ right\ image.svg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 220px, 120px, 150px;
    background-position: 0, 150px bottom, right 50px;
  }

  .form-text {
    grid-column: 3/7;
  }

  .inputs {
    grid-column: 8/12;
    margin-right: 100px;
  }

  .input {
    width: 684px;
  }

  .msg {
    width: 684px;
  }

  .last {
    margin-right: 677px;
  }
}
